# Lists & For Loops

For this lesson, we're again going to draw on Anelise Shrout's [Bellevue Almshouse data](https://docs.google.com/spreadsheets/d/1uf8uaqicknrn0a6STWrVfVMScQQMtzYf5I_QyhB9r7I/edit#gid=2057113261).

<img src="../images/bellevue-almshouse-screenshot.png" width=100%>

# Lists

Last lesson, when we worked with conditionals, we made a bunch of individual variables about each individual Irish immigrant. Often it's much more advantageous, however, to create a *collection* of values and hold them in a single place. One of the most common Python data collections is called a "list." For example, rather than all these separate variables...

### Person 1

In [3]:
person1_name = 'Mary Gallagher'
person1_age = 28
person1_disease = 'recent emigrant'
person1_profession = 'married'
person1_gender = 'f'
person1_child_status = 'Child Alana 10 days'

### Person 2

In [4]:
person2_name = 'John Sanin(?)'
person2_age = 19
person2_disease = 'recent emigrant'
person2_profession = 'laborer'
person2_gender = 'm'
person2_child_status = 'Catherine 2 mo'

### Person 3

In [5]:
person3_name = 'Anthony Clark'
person3_age = 60
person3_disease = 'recent emigrant'
person3_profession = 'laborer'
person3_gender = 'm'
person3_child_status = 'Charles Riley afed 10 days'

### Person 4

In [6]:
person4_name = 'Margaret Farrell'
person4_age = 30
person4_disease = 'recent emigrant'
person4_profession = 'widow'
person4_gender = 'w'
person4_child_status = ''

...we can create a *list* of all the Irish immigrants' names and hold them in a single place.

In [7]:
names = ['Mary Gallagher', 'John Sanin(?)', 'Anthony Clark', 'Margaret Farrell']

In [8]:
type(names)

list

In [9]:
ages = [28, 19, 60, 30]

In [10]:
type(ages)

list

A list is always enclosed by square brackets `[]` and accepts items in a row separated by commas `,`. A list can contain any combination of Python data types.

## Index

You can index a list just like you would index a string. For example, if we wanted to pull out the first item in our `names` list, we could put square brackets and our desired index number immediately after the list. Just like with strings, the Python index begins with 0.

In [11]:
names[0]

'Mary Gallagher'

In [12]:
names[3]

'Margaret Farrell'

## Slice

You can also slice lists just like you would a string.

In [13]:
names[:2]

['Mary Gallagher', 'John Sanin(?)']

## List Methods

Lists also have a number of special methods that can be used with them, such as a method for adding items to a list, which is an extremely common one.

| **List Method** | **Explanation**                                                                                   |
|-------------|---------------------------------------------------------------------------------------------------|
| `list.append(another_item)`          | adds new item to end of list                                                                                |
| `list.extend(another_list)`        | adds items from another_list to list                                                |
| `list.remove(item)`        | removes first instance of item                                                       |
| `list.reverse()`       | reverses order of list                                                                                 |                                                     |

### Add Items To List

In [14]:
names.append("Lawrence Feeney")

In [15]:
names

['Mary Gallagher',
 'John Sanin(?)',
 'Anthony Clark',
 'Margaret Farrell',
 'Lawrence Feeney']

### Extend List With Another List

In [16]:
names.extend(ages)

In [17]:
names

['Mary Gallagher',
 'John Sanin(?)',
 'Anthony Clark',
 'Margaret Farrell',
 'Lawrence Feeney',
 28,
 19,
 60,
 30]

# For Loops

One of the best ways to work with a list is with something called "`for` loops." This is a way of considering each item in the list, also known as "iterating" through the list.

In [18]:
names = ['Mary Gallagher', 'John Sanin(?)', 'Anthony Clark', 'Margaret Farrell']

In [19]:
for name in names:
    print(name)

Mary Gallagher
John Sanin(?)
Anthony Clark
Margaret Farrell

A `for` loop contains the English word `for` followed by a variable name for each item in the list that you want to consider (it could be anything!) followed by the English word in` followed by a colon `:`

In [20]:
for name in names:
    print(f"Person's name is {name}")

Person's name is Mary Gallagher
Person's name is John Sanin(?)
Person's name is Anthony Clark
Person's name is Margaret Farrell

In [21]:
for x in names:
    print(f"Person's name is {x}")

Person's name is Mary Gallagher
Person's name is John Sanin(?)
Person's name is Anthony Clark
Person's name is Margaret Farrell

In [22]:
ages = [28, 19, 60, 30]

In [43]:
for age in ages:
    if age > 30:
        print("Person is less than 30 years old")
    else:
        print("Person is more than 30 years old")

Person is more than 30 years old
Person is more than 30 years old
Person is less than 30 years old
Person is more than 30 years old

# Group Exercise / HW Assignment 3 (Part II)

### Person 1

In [134]:
person1_name = 'Mary Gallagher'
person1_age = 28
person1_disease = 'recent emigrant'
person1_profession = 'married'
person1_gender = 'f'
person1_child_status = 'Child Alana 10 days'

### Person 2

In [77]:
person2_name = 'John Sanin(?)'
person2_age = 19
person2_disease = 'recent emigrant'
person2_profession = 'laborer'
person2_gender = 'm'
person2_child_status = 'Catherine 2 mo'

### Person 3

In [ ]:
person3_name = 'Anthony Clark'
person3_age = 60
person3_disease = 'recent emigrant'
person3_profession = 'laborer'
person3_gender = 'm'
person3_child_status = 'Charles Riley afed 10 days'

### Person 4

In [85]:
person4_name = 'Margaret Farrell'
person4_age = 30
person4_disease = 'recent emigrant'
person4_profession = 'widow'
person4_gender = 'w'
person4_child_status = ''

**1.** Make a list that contains each of the above Irish immigrants' professions and assign to a variable called `professions`

In [44]:
#Your Code Here

**2.** Extract the second item in the list `professions`. Hint: remember how the Python index works!

In [45]:
#Your Code Here

'laborer'

**3.** Add the item "spinster" to your `professions` list, then print the list.

In [46]:
#Your Code Here

In [48]:
#Your Code Here

['married', 'laborer', 'laborer', 'widow', 'spinster']

**4.** Make a `for` loop that considers each item in the `professions` list and prints "Person's profession is ___"

In [49]:
#Your Code Here
    #Your Code Here

Person's profession is married
Person's profession is laborer
Person's profession is laborer
Person's profession is widow
Person's profession is spinster

**5.** Make a list that contains each of the above Irish immigrants' child statuses and assign to a variable called `child_status`. You can make Margaret Farrell's child status an empty string `''`.

In [57]:
#Your Code Here

**6.** Extract the third item in the list.

In [58]:
#Your Code Here

'Charles Riley afed 10 days'

**7.** Make a `for` loop that considers each item in the `child_status` list and prints "Person has child" if the person has a child and "Person does not have child" if not

In [59]:
#Your Code Here
  #Your Code Here
       #Your Code Here
    #Your Code Here
        #Your Code Here

Person has child
Person has child
Person has child
Person does not have child

**8.** Make a list that contains each of the above Irish immigrants' genders and assign to a variable called `gender`

In [24]:
#Your Code Here

**9.** Add an item to the list called "not known"

In [26]:
#Your Code Here

**10.** Make a `for` loop that considers each item in the `gender` list and prints "Person is male" if the person is male, "Person is female" if the person is female, and "Person's gender is not known" if unknown

In [27]:
 #Your Code Here
     #Your Code Here
         #Your Code Here
     #Your Code Here
         #Your Code Here
     #Your Code Here
         #Your Code Here

Person is female
Person is male
Person is male
Person's gender is not known